
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
frontend/node_modules/*
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/

# TMP
/tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
/vintage-server/src/Folder.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Environment variables
.env.local
.env.production
.env
frontend/.env

# Logs
*.log

# Vintagestory Server and Mod Files
/vintage-server/data/
/vintage-server/src/net8.0/
/vintage-server/src/obj/
